@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Inter:wght@400;500;600;700&display=swap");

h1, h2, h3 {
  font-weight: 700;
  line-height: 1.15;
}

p,
a {
  font-family: "Manrope", sans-serif;
  font-size: $default-font-size;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  transition: all 0.3s ease-in-out;
}

.section-title {
  margin: 0;
  margin-bottom: 4.5rem;
  font-size: $big-font-size;
  font-weight: bold;

  @include respond(phone) {
    font-size: 2.8rem;
  }
}

.text-color-main {
  color: #B6A0FF;
  -webkit-text-fill-color: #B6A0FF;

  @supports (-webkit-background-clip: text) or (background-clip: text) {
    background-image: linear-gradient(
      to right,
      #B6A0FF 0%,
      #00AFFE 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
}
